<header class="header">
   <nav class="navbar">
      <div class="navbar-brand">
         <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      </div>

      <div id="topbar-nav" class="navbar-menu">
         <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
               <a class="navbar-link" href="https://gitlab.com/tinubu-public">GitLab</a>
               <div class="navbar-dropdown">
                  <a class="navbar-item"
                     href="https://gitlab.com/tinubu-public/commons-ports">commons-ports</a>
                  <!--<hr class="navbar-divider">-->
               </div>
            </div>
         </div>

         {{#if env.SITE_SEARCH_PROVIDER}}
            <div class="navbar-item search hide-for-print">
               <div id="search-field" class="field has-filter">
                  <input id="search-input" type="text" placeholder="Search..."{{#if page.home}}
                         autofocus{{/if}}>
                  <label class="filter checkbox">
                     <input type="checkbox"
                            data-facet-filter="component:{{page.component.name}}|version:{{page.version}}"
                            checked="checked">&nbsp;Current project
                  </label>
               </div>
            </div>
         {{/if}}
      </div>

   </nav>
</header>
